{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": [
      "error", 
      {
        "vars": "local",
        "args": "none"
      }
    ]
  }
}